main {
    width: 100%;
    // debug
    padding: 5% 0;
    @include sfondoMain; 
    & .box-main{
        // debug
        width: 100%;
        // debug
        @include flex(space-around);
            flex-wrap: wrap;
        & div.post{
            height: 50%;
            flex-basis: calc(100% / 5 - 20px);
            padding: 20px;
            text-align: center;
            border-radius: 8px;
            @include flex-c(space-around, center);
            & img{
                width: 150px;
                height: 150px;
            }
        }
    }
    
    & .title-suono{
            width: 500px;
            background: red;
            height: 300px;
            border: 1px solid white;
        }
    
}